@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1b4b;
  --foreground: rgb(246, 235, 235);
  --accent: #f25ded;
  --border: #d1d5db;
  --custom-bg: #180842; 
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  .animate-marquee {
    animation: marquee var(--duration, 25s) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 25s) linear infinite;
  }
  @keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1.5s ease forwards;
}
}
